/* Reset some default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.menu {
    list-style-type: none;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Hero section styles */
.hero {
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 22px;
    margin-bottom: 30px;
}

.cta-button {
    background-color: #ff5733;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
}

.cta-button:hover {
    background-color: #d94326;
}

/* Feature section styles */
.features {
    background-color: #f5f5f5;
    padding: 50px 0;
    text-align: center;
    font-size: 22px;
}

.feature-icon img {
    width: 50px;
}

.features h2 {
    font-size: 34px;
    margin-bottom: 30px;
}

.feature {
    margin-bottom: 40px;
}

.feature h3 {
    font-size: 28px;
    margin-top: 10px;
}

/* How It Works section styles */
.how-it-works {
    background-color: #ff7c5f;
    padding: 50px 0;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
}

.how-it-works h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

.how-it-works p {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 0px 100px;
}

.how-it-works ol {
    text-align: left; 
    list-style-position: inside;
}

.how-it-works li {
    font-size: 22px;
    margin-bottom: 10px;
    padding: 0px 200px;
}

/* Testimonials section styles */
.testimonials {
    background-color: #f5f5f5;
    padding: 50px 0;
    text-align: center;
}

.testimonials h2 {
    font-size: 24px;
    margin-bottom: 30px;
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.user-name {
    font-weight: bold;
    margin-top: 10px;
}

/* Sentiment Analysis section styles */
.sentiment-analysis {
    text-align: center;
    padding: 50px 0;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 10px 200px;
}

.stars {
    margin: 0px auto;
    position: relative;
    padding: 1rem;
    width: 250px;
    white-space: nowrap;
}

.stars svg {
    width: 50px;
    fill: gold;
}

.cover {
  background: white;
  height: 100%;
  overflow: hidden;
  mix-blend-mode: color;
  position: absolute;
  top: 0;
  right: 0;
}




.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: column;
}

textarea {
    width: 80%;
    height: 40vh;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff5733;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
}

button:hover {
    background-color: #d94326;
}

/* Result container styles */
.hidden {
    display: none;
}

#resultContainer {
    margin-top: 20px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer-menu ul {
    list-style-type: none;
}

.footer-menu li {
    display: inline;
    margin: 0 20px;
}

.footer-menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Responsive design */
@media (max-width: 768px) {
}

