{% extends "index.html" %}

{% block content %}   
    <header>
        <div class="hero">
            <h1>Understand Sentiments Instantly</h1>
            <p>Analyze text and discover sentiments with our powerful tool.</p>
	    <a href="/sentiment">
            <button class="cta-button" id="analyzeButton">Analyze Sentiment</button>
	    </a>
        </div>
    </header>

    <section class="features">
        <h2>Key Features</h2>
        <div class="feature">
            <div class="feature-icon"><img src="/static/icon1.svg" alt="Feature Icon"></div>
            <h3>Real-time Analysis</h3>
            <p>Get instant sentiment analysis results as you type or input text.</p>
        </div>
        <div class="feature">
            <div class="feature-icon"><img src="/static/icon2.svg" alt="Feature Icon"></div>
            <h3>Detailed Reports</h3>
            <p>Receive comprehensive reports with sentiment scores and insights.</p>
        </div>
        <div class="feature">
            <div class="feature-icon"><img src="/static/icon3.svg" alt="Feature Icon"></div>
            <h3>Easy Integration</h3>
            <p>Integrate our API with your applications and platforms seamlessly.</p>
        </div>
    </section>

    <section class="how-it-works">
	<h2>How It Works</h2>
        <p>Our sentiment analysis tool uses advanced natural language processing techniques to analyze the sentiment of your text. Here's how it works:</p>
        <ol>
            <li>You enter your text in the input box.</li>
            <li>Click the "Analyze" button to initiate the analysis.</li>
            <li>Our algorithm processes the text and determines its sentiment.</li>
            <li>The result is displayed, indicating whether the text is positive, negative, or neutral.</li>
        </ol>    
    </section>

    <!--
    <section class="testimonials">
        <h2>What Our Users Say</h2>
        <div class="testimonial">
            <img src="user1.jpg" alt="User 1">
            <p>"This tool has been a game-changer for our social media analysis."</p>
            <p class="user-name">John Doe, Marketing Manager</p>
        </div>
        <div class="testimonial">
            <img src="user2.jpg" alt="User 2">
            <p>"I'm impressed with the accuracy and speed of sentiment analysis."</p>
            <p class="user-name">Jane Smith, Content Creator</p>
        </div>
    </section>

    -->

