<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Sentiment Analysis App</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">Sentiment Analyzer</div>
            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Sign In/Sign Up</a></li>
            </ul>
        </nav>

    </header>
        
    {% block content %}{% endblock %}
    <footer>
        <div class="footer-menu">
            <ul>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Service</a></li>
            </ul>
        </div>
        <div class="copyright">&copy; 2023 Sentiment Analyzer DarkMatter-999</div>
    </footer>
</body>
</html>

